//Colors
$white: #fff;
//gray
$sb-gray-one: #d0d5dd;
$sb-gray-two: #f9fafb;
$sb-gray-three: #f4ebff;
$sb-gray-four: #b2bec3;
//dark
$sb-dark-one: #667085;
$sb-dark-two: #101828;
$sb-dark-three: #535c68;
//red
$sb-red-one: #f04438;
//yellow
$sb-yellow-one: #badc58;
//pink
$sb-pink-one: #c3629c;
//green
$sb-green-one: #6ab04c;
$sb-green-two: #77c454;
$sb-green-three: #63b43e;