//Colors
$white: #fff;
//gray
$sb-gray-one: #d0d5dd;
$sb-gray-two: #f9fafb;
$sb-gray-three: #f4ebff;
$sb-gray-four: #b2bec3;
$sb-gray-five: #f5f5f5;
$sb-gray-six: #dff9fb;
//dark
$sb-dark-one: #667085;
$sb-dark-two: #101828;
$sb-dark-three: #535c68;
$sb-dark-four: #423a6f;
$sb-dark-five: #8c87c2;
//red
$sb-red-one: #f04438;
//yellow
$sb-yellow-two: #f9ca24;
$sb-yellow-one: #badc58;
//pink
$sb-pink-one: #c3629c;
//green
$sb-green-one: #6ab04c;
$sb-green-two: #77c454;
$sb-green-three: #63b43e;
$sb-green-four: #5eaa3b;
//blue
$sb-blue-one: #7b6fff;